@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    background: #2f2f2b
}

nav {
    padding: 0px;
}

h1 {
    font-size: .1em;
}

#home {
    border-bottom: rgb(182, 182, 182) solid 2px;

}

#divExterna {
    padding: 50px;
    width: 100%;
    height: 600px;

}

#divInterna {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: red;
    padding: 10px;
    display: inline-flex;
}

#valorAposta {
    background-color: yellow;
}

#home {
    padding: 0;
}

#jogo {
    width: 65%;

    background: rgb(129, 123, 209);
}

#valor {
    padding: 5px;
    background: yellow;
    width: 40%;
    /*width: 35%;
    margin: 0 auto;*/
}

#valor form {
    background: yellow;
}

#historico {
    max-width: 40%;
    background: pink;
}

#historico h1 {
    font-size: 15px;
}

#confirmaAposta {
    padding-right: 58px;
    padding-left: 58px;
}

.justify-content-end {
    justify-content: flex-start !important;
}

#navbar {
    padding-left: 50px;
}

#valorParaAposta {
    background: white;
}

h1 {
    background: white;
}

p {
    background: white;
}